@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  cursor: default;
  font-family: 'Roboto', Sans-Serif;
}

img.devfest-logo {
  min-height: 3rem;
}

.navbar-burger {height: 4.1rem;}

section.devfest {
  background-color: #0F9D58;
  background-position: center center;
  background-image: url("/images/CloudDevFestSection.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.button.is-danger {
  background-color: #EA4335;
}

.hero#entradas {
  background-color: #4285F4;
}