---
title: Gracias por enviar tus datos para el GDG Cloud DevFest La Paz 2019!
---

<section class="section">
	<div class="container">
		<div class="content">
			<h1 class="title">¡Gracias por registrarte!</h1>
			<blockquote>Si usaste un código de promoción válido, sólo recibirás la confirmación de tu registro.</blockquote>
			<p>Las instrucciones de pago se enviarán desde <a href="mailto:devfest@lapazcloud.com">devfest@lapazcloud.com</a> a tu dirección de correo electrónico.</p>
			<p>Revisa tu bandeja de spam si no recibes el mensaje en los próximos minutos.</p>
			<p>
				<a href="/registro/" class="button is-danger is-rounded is-medium">Hacer otro registro</a>
			</p>
		</div>
	</div>
</section>

