---
title: Gracias por postular!
---

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">¡Gracias por postular!</h1>
            <p class="subtitle">Si tu propuesta es elegida, te contactaremos hasta el <b>13 de Septiembre</b> para pedirte detalles de lo que necesites para que tu exposición sea un éxito. ¡Suerte!</p>
            <button class="button is-medium is-rounded is-danger"><a href="/">Volver al inicio</a></button>
        </div>
    </div>   
</section>
