---
title: Un evento para hablar de tecnologías Cloud, DevOps y web
---

<section class="devfest hero is-medium is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">GDG Cloud DevFest La Paz 2019</h1>
      <h2 class="subtitle">Un evento dedicado a exposiciones y talleres sobre tecnologías Cloud, DevOps y Aplicaciones Web.</h2>
      <h3 class="subtitle has-text-weight-bold">11 de Octubre / <a href="http://hotelcalacoto.com" target="_blank">Hotel Calacoto</a></h3>
      <a class="button is-large is-danger is-rounded" href="/postula/">Postula una charla</a>
    </div>
  </div>
</section>

<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1 has-text-grey-darker" id="days">00</p>
              <p class="heading has-text-grey-darker">días</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1 has-text-grey-darker" id="hours">00</p>
              <p class="heading has-text-grey-darker">horas</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1 has-text-grey-darker" id="minutes">00</p>
              <p class="heading has-text-grey-darker">minutos</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1 has-text-grey-darker" id="seconds">00</p>
              <p class="heading has-text-grey-darker">segundos</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="hero" id="call-for-speakers">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">¡Call for Speakers abierto!</h1>
      <p class="subtitle">¿Tienes algún tema que quieras exponer? Estamos interesados en estos tópicos:</p>

      <div class="columns has-text-left">

        <div class="column">
          <div class="card">
            <div class="card-content">
                <h2 class="title">Infraestructura y automatización</h2>
                <div class="content">
                  <ul>
                    <li>Proveedores cloud como Google Cloud, AWS o DigitalOcean</li>
                    <li>Datacenters Físicos, OpenStack y otras soluciones locales</li>
                    <li>Terraform, Ansible, Puppet, Packer y herramientas de Infraestructura como código</li>
                    <li>Docker, Bash y Powershell scripting</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">Integración y entrega contínua</h2>
                    <div class="content">
                      <ul>
                        <li>Sistemas de CI como Jenkins, Bamboo, GoCD, Drone, Travis y otros</li>
                        <li>Uso de Git, GitLab, GitHub</li>
                        <li>Implementando automatización y/o control de calidad con DevOps</li>
                        <li>Code Coverage con Code Clover, Jacoco y otros</li>
                        <li>GitOps, Chatbots y otras automatizaciones</li>
                      </ul>
                    </div>
                </div>
              </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">Orquestación, monitoreo y seguridad web</h2>
                    <div class="content">
                      <ul>
                        <li>Orquestadores como Kubernetes, Docker Swarm, Mesosphere, Nomad y otros</li>
                        <li>Sistemas de monitoreo como Prometheus, Grafana y ELK </li>
                        <li>Utilidades cloud como Consul, Envoy, CoreDNS, Helm y etcd</li>
                        <li>Seguridad para contenedores</li>
                      </ul>
                    </div>
                </div>
              </div>
        </div>
      </div>

      <a href="/postula/"><button class="button is-large is-rounded is-danger">Postula aquí</button></a>
    </div>
  </div>
</section>

<section class="hero is-light is-medium" id="faq">
  <div class="hero-body">
    <div class="container">
      <div class="content">
      <h1>Preguntas frecuentes</h1>

      <h3>1. ¿Qué es un GDG DevFest?</h3>
      <p>Es un evento de escala mayor organizado por comunidades tecnológicas locales asociadas pero no exclusivas a productos de Google. Ofrece sesiones y charlas con expositores para exponer e intercambiar ideas entre desarrolladores y personas afines a la tecnología.</p>

      <h3>2. ¿Quiénes organizan el GDG Cloud DevFest La Paz?</h3>
      <p>La comunidad <a target="_blank" href="https://www.facebook.com/lapazcloud/" class="has-text-danger has-text-weight-bold">La Paz Cloud</a> está a cargo de la organización de este evento. Establecido el 2016, La Paz Cloud ha estado <a target="_blank" href="https://www.meetup.com/Docker-La-Paz/" class="has-text-danger has-text-weight-bold">compartiendo conocimiento</a> y <a target="_blank" href="https://www.meetup.com/La-Paz-HashiCorp-User-Group/" class="has-text-danger has-text-weight-bold">usos prácticos</a> de tecnología web con charlas técnicas, <a target="_blank" href="https://github.com/lapazcloud" class="has-text-danger has-text-weight-bold">publicando código</a> fácil de usar.</p>

      <h3>3. ¿Dónde se realizará el evento?</h3>
      <p>El <a class="has-text-danger has-text-weight-bold" href="http://hotelcalacoto.com" target="_blank">Hotel Calacoto</a> en la calle 13 y esquina Sánchez Bustamante de Calacoto en La Paz.</p>

      <h3>3. ¿Qué es un Call for Speakers?</h3>
      <p>Es una invitación abierta para que cualquier profesional o estudiante pueda exponer un tema relacionado al evento. <a href="/postula/" class="has-text-danger has-text-weight-bold">Puedes postular aquí</a>.</p>

      <h3>4. Aún tengo dudas.</h3>
      <p>Si aún tienes preguntas escríbenos a <a class="has-text-danger has-text-weight-bold" href="mailto:contacto@lapazcloud.com">contacto@lapazcloud.com</a>.</p>
    </div>
    </div>
  </div>
</section>

<section class="hero is-info is-medium" id="entradas">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Las entradas estarán disponibles desde Septiembre</h1>
      <h2 class="subtitle">Incluirán el ingreso al evento, talleres, souvenirs y refrigerios.</h2>

      <div class="columns">
        <div class="column is-4 is-offset-4">
          <form action="/notificacion/" name="notificaciones" method="POST" netlify-honeypot="bot-field" data-netlify="true">
            <p class="is-invisible">
                <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
              </p>
            <div class="field has-addons is-fullwidth">
              <div class="control is-expanded">
                <input required type="email" name="email" class="input is-large" placeholder="Avisarme por email">
              </div>
              <div class="control">
                <button type="submit" class="button is-primary is-large">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    (function () { 
    countdown('10/11/2019 03:00:00 PM'); 
  }());
</script>
