---
title: Un evento para hablar de tecnologías Cloud, DevOps y web
---

<section class="devfest hero is-large is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">GDG Cloud DevFest La Paz 2019</h1>
      <h2 class="subtitle">Un evento dedicado a exposiciones y talleres sobre tecnologías Cloud, DevOps y Aplicaciones Web.</h2>
      <h3 class="subtitle has-text-weight-bold">Viernes 11 de Octubre, 2pm | <a href="http://hotelcalacoto.com" target="_blank">Hotel Calacoto</a></h3>
      <a class="button is-large is-danger is-rounded" href="/registro/">
        <span class="icon"><i class="fas fa-ticket-alt"></i></span>
        <span>Entradas</span>
      </a>
    </div>
  </div>
</section>

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1" id="days">00</p>
              <p class="heading">días</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1" id="hours">00</p>
              <p class="heading">horas</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1" id="minutes">00</p>
              <p class="heading">minutos</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-1" id="seconds">00</p>
              <p class="heading">segundos</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- <section class="hero is-info" id="entradas">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">
        Entradas
      </h1>
      <h3 class="subtitle">Viernes 11 de Octubre, 2019 14:00 - 20:00</h3>

      <hr>

      <div class="columns">
        <div class="column is-5 is-offset-4">
          <div class="columns is-vcentered">
            <div class="column">
              <div class="content">
              <h1 class="title is-1 is-marginless">70 Bs.</h1>
              <p>por persona</p>
              <a href="/registro/" class="button is-large is-danger is-rounded">Registrarse</a>
              </div>
            </div>
            <div class="column has-text-left is-8">
              <div class="content">
              <p>
                <span class="icon"><i class="fas fa-tv"></i></span>
                <span>Acceso a todas las charlas</span>
              </p>
              <p>
                <span class="icon"><i class="fas fa-cookie-bite"></i></span>
                <span>Dos refrigerios</span>
              </p>
              <p>
                <span class="icon"><i class="fas fa-tshirt"></i></span>
                <span>Polera + souvenir sorpresa</span>
              </p>
              <p>
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span>Networking con auspiciadores</span>  
              </p>
              <p>
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span>Networking con expositores</span>
              </p>
              <p class="subtitle">Opcional: +30 Bs. (sólo 20 espacios!)</p>
              <p>
                <span class="icon"><i class="fas fa-microscope"></i></span>
                <span>Acceso a un workshop + WiFi</span>
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<!--
<section class="hero" id="speakers">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title is-2">Expositores</h1>

      <div class="columns">

        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Marco Avalos</h2>
                      <p>Ingeniero DevOps<br>ProcessMaker</p>
                      <p>
                        <span class="icon">
                          <i class="fab fa-linkedin"></i>
                        </span>
                        <span class="icon">
                          <i class="fab fa-twitter-square"></i>
                        </span>
                        <span class="icon">
                          <i class="fab fa-facebook-square"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="/images/miguel.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Miguel Callejas</h2>
                      <p>Ingeniero CloudOps<br>Mojix</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Alfredo Callizaya</h2>
                      <p>Desarrollador Backend<br>UMSA</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

      </div>

      <div class="columns">

        <div class="column is-offset-2 is-4">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="/images/sergio.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Sergio Guillen</h2>
                      <p>Ingeniero DevOps<br>New Vision Data</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

        <div class="column is-4">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Franz Mejía</h2>
                      <p>Ingeniero CloudOps<br>SETEL</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

      </div>

      <div class="columns">

        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="/images/jpp.png">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Juan Pablo Poma</h2>
                      <p>Desarrollador<br>AGETIC</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="/images/moni.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Monica Limachi</h2>
                      <p>Ingeniera QA<br>Mojix</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="/images/fernando.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Fernando Silva</h2>
                      <p>Desarrollador<br>Grapes</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

      </div>

      <div class="columns">

        <div class="column is-offset-2 is-4">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="/images/dennis.png">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Dennis Ruiz</h2>
                      <p>Ingeniero DevOps<br>Freelancer</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

        <div class="column is-4">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="/images/yamil.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h2 class="is-marginless">Yamil Urbina</h2>
                      <p>Ingeniero DevOps<br>Jalasoft</p>
                    </div>
                  </div>
                </article>
            </div>
        </div>

      </div>

    </div>
  </div>
</section>
-->

<section class="hero is-light" id="location">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">Locación</h1>
      <p class="subtitle is-3">Hotel Calacoto</p>
      <p class="subtitle is-4">Calle 13 y Sánchez Bustamante<br>Calacoto, La Paz</p>
      <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
      <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
      var setting = {"height":512,"width":'100%',"zoom":15,"queryString":"Hotel Calacoto, Calle 13, La Paz, Bolivia","place_id":"ChIJLz8ucSUhX5ERLfG__adciH4","satellite":false,"centerCoord":[-16.54077115471625,-68.08601814999997],"cid":"0x7e885ca7fdbff12d","cityUrl":"/bolivia/achumani-73025","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"83105"};
      var d = document;
      var s = d.createElement('script');
      s.src = 'https://1map.com/js/script-for-user.js?embed_id=83105';
      s.async = false;
      s.onload = function (e) {
      window.OneMap.initMap(setting)
      };
      var to = d.getElementsByTagName('script')[0];
      to.parentNode.insertBefore(s, to);
      })();</script></div>
    </div>
  </div>
</section>

<section class="hero is-light" id="faq">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">Preguntas frecuentes</h1>
      <div class="content has-text-left">
      <h3>1. ¿Qué es un GDG DevFest?</h3>
      <p>Es un evento de escala mayor organizado por comunidades tecnológicas locales asociadas pero no exclusivas a productos de Google. Ofrece sesiones y charlas con expositores para exponer e intercambiar ideas entre desarrolladores y personas afines a la tecnología.</p>

      <h3>2. ¿Quiénes organizan el GDG Cloud DevFest La Paz?</h3>
      <p>La comunidad <a target="_blank" href="https://www.facebook.com/lapazcloud/" class="has-text-danger has-text-weight-bold">La Paz Cloud</a> está a cargo de la organización de este evento. Establecido el 2016, La Paz Cloud ha estado <a target="_blank" href="https://www.meetup.com/Docker-La-Paz/" class="has-text-danger has-text-weight-bold">compartiendo conocimiento</a> y <a target="_blank" href="https://www.meetup.com/La-Paz-HashiCorp-User-Group/" class="has-text-danger has-text-weight-bold">usos prácticos</a> de tecnología web con charlas técnicas, <a target="_blank" href="https://github.com/lapazcloud" class="has-text-danger has-text-weight-bold">publicando código</a> fácil de usar.</p>

      <h3>3. ¿Dónde se realizará el evento?</h3>
      <p>En el <a class="has-text-danger has-text-weight-bold" href="http://hotelcalacoto.com" target="_blank">Hotel Calacoto</a> en la calle 13 y esquina Sánchez Bustamante de Calacoto en La Paz.</p>

      <h3>4. ¿Cuándo es el evento?</h3>
      <p>El Viernes 11 de Octubre del 2019 desde las 14:00 hasta las 20:00.</p>

      <h3>5. ¿Cuáles son los precios de registro?</h3>
      <p>Existen tres diferentes paquetes:</p>

      <ul>
        <% data.entradas.each do |t| %>
          <li>
            <strong><%= t.titulo %>:</strong> <%= t.descripcion %>
            <code><%= t.precio %></code>
          </li>
        <% end %>
      </ul>

      <h3>6. ¿Existe un código de vestimenta para el evento?</h3>
      <p>Ninguno, la vestimenta es casual.</p>
      <h3>7. Aún tengo dudas.</h3>
      <p>Si aún tienes preguntas escríbenos a <a class="has-text-danger has-text-weight-bold" href="mailto:contacto@lapazcloud.com">contacto@lapazcloud.com</a>.</p>
    </div>
    </div>
  </div>
</section>

<section class="hero" id="sponsors">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">Auspiciadores</h1>
      <div class="columns is-vcentered has-text-left">
        <div class="column is-2">
          <figure class="image">
            <img src="/images/google.png" alt="">
          </figure>
        </div>
<!--         <div class="column is-3">
          <figure class="image">
            <img src="/images/processmaker.png" alt="">
          </figure>
        </div> -->
      </div>
    </div>
  </div>
</section>

<script>
    (function () { 
    countdown('10/11/2019 03:00:00 PM'); 
  }());
</script>
