---
title: GDG Cloud DevFest La Paz 2019
---

<nav class="navbar is-fixed-top is-info role="navigation" aria-label="main navigation"">
  <div class="navbar-end">
    <a href="/" class="navbar-item">Inicio</a>
    <a href="/" class="navbar-item">Exponentes</a>
    <a href="/" class="navbar-item">Programa</a>
    <a href="/" class="navbar-item">Talleres</a>
    <a href="/" class="navbar-item">Preguntas frecuentes</a>
    <div class="navbar-item">
      <a href="/" class="button is-danger is-rounded">Entradas</a>
    </div>
  </div>
</nav>

<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle">GDG Cloud DevFest La Paz 2019</h2>
      <h1 class="title">La comunidad más grande de Cloud, DevOps y tecnologías web en La Paz.</h1>
      <h2 class="subtitle">12 de Octubre, 2019 / 3:00pm</h2>
      <h2 class="subtitle">Link CoWork / La Paz, BO</h2>
      <a class="button is-medium is-danger is-rounded" href="/">Comprar Entradas</a>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Exponentes destacados</h1>

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square"><img src="https://via.placeholder.com/150" alt=""></figure></div>
            <div class="card-content">
              <h1 class="title">Seymour A. Ces</h1>
              <h2 class="subtitle">Company, Inc.</h2>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square"><img src="https://via.placeholder.com/150" alt=""></figure></div>
            <div class="card-content">
              <h1 class="title">Seymour A. Ces</h1>
              <h2 class="subtitle">Company, Inc.</h2>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square"><img src="https://via.placeholder.com/150" alt=""></figure></div>
            <div class="card-content">
              <h1 class="title">Seymour A. Ces</h1>
              <h2 class="subtitle">Company, Inc.</h2>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square"><img src="https://via.placeholder.com/150" alt=""></figure></div>
            <div class="card-content">
              <h1 class="title">Seymour A. Ces</h1>
              <h2 class="subtitle">Company, Inc.</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Entradas</h1>
      <div class="columns">
        <div class="column is-4 is-offset-2">
          <div class="card">
            <div class="card-content">
              <h1 class="subtitle">General</h1>
              <h2 class="title">70Bs. por persona</h2>
              <ul>
                <li>Acceso a todas las charlas</li>
                <li>Dos laboratorios prácticos</li>
                <li>Refrigerio y bebidas</li>
                <li>Certificado Digital</li>
                <li>Polera y Souvenir</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <h1 class="subtitle">General + Talleres</h1>
              <h2 class="title">100Bs. por persona</h2>
              <ul>
                  <li>Acceso a todas las charlas</li>
                  <li>Dos laboratorios prácticos</li>
                  <li>Refrigerio y bebidas</li>
                  <li>Certificado Digital</li>
                  <li>Polera y Souvenir</li>
                  <li>Networking con Speakers</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="hero is-medium is-dark">
  <div class="hero-body">
    <div class="container has-text-white-ter">
      <h1>Locación</h1>
    </div>
  </div>
</section>

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h2>Auspiciadores</h2>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy; 2019 La Paz Cloud</p>
  </div>
</footer>