---
title: Notificaciones
---

<section class="hero is-light">
    <div class="hero-body">
        <div class="container content">
            <h1 class="title">¡Te avisaremos pronto!</h1>
            <p class="subtitle">Te enviaremos un email en cuanto las entradas estén disponibles.</p>
            <p class="subtitle">Mientras tanto te recomendamos unirte a nuestro <a class="has-text-danger has-text-weight-bold" href="https://www.meetup.com/GDG-Cloud-La-Paz/">Meetup</a> o a darle like a nuestra <a href="https://www.facebook.com/lapazcloud/" class="has-text-danger has-text-weight-bold">página de Facebook</a> para estar al tanto del evento.</p>
            <button class="button is-medium is-rounded is-danger"><a href="/">Volver al inicio</a></button>
        </div>
    </div>   
</section>
