---
title: GDG Cloud DevFest La Paz 2019
---

<section class="section">
    <div class="container">
            <h2 class="title">Postular una charla</h2>
            <p class="subtitle">Por favor llena el siguiente formulario para que te consideremos como expositor. Se enviará una confirmación a los expositores via email hasta el <b>13 de Septiembre</b>.</p>
    
            <form name="postulaciones" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                <p class="is-invisible">
                  <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                </p>
                <div class="field">
                    <label class="label">Nombre
                    <input class="input" type="text" name="name" required autofocus /></label>
                  </div>
                <div class="field">
                  <label class="label">Email
                  <input class="input" type="email" name="email" required /></label>
                </div>
                <div class="field">
                    <label class="label">Celular
                    <input class="input" type="tel" name="celular" required /></label>
                  </div>
                <div class="field">
                    <label class="label">Empresa o universidad
                    <input class="input" type="text" name="compania" required /></label>
                </div>
                <div class="field">
                    <label class="label">Cargo, posición o año de carrera
                    <input class="input" type="text" name="cargo" required /></label>
                </div>
                <div class="field">
                    <label class="label">Considerando tu experiencia personal o profesional, ¿Qué temas considerarías exponer o compartir? (Selecciona todos los que apliquen)</label>
                    <label class="checkbox">
                        <input type="checkbox" name="cloud">
                        Cloud: AWS, Google Cloud, DigitalOcean, OpenStack
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                            <input type="checkbox" name="ci">
                            Integración Continua: Jenkins, GoCD, Drone, Spinnaker
                        </label>
                </div>
                <div class="field">
                        <label class="checkbox">
                                <input type="checkbox" name="orquestracion">
                                Orquestación: Kubernetes, Docker Swarm y otros
                            </label>
                    </div>
                    <div class="field">
                            <label class="checkbox">
                                    <input type="checkbox" name="monitoreo">
                                    Monitoreo: Prometheus, Grafana, Kibana y otros
                                </label>
                        </div>
                <div class="field">
                        <label class="checkbox">
                                <input type="checkbox" name="seguridad">
                                Seguridad: Análisis, ataques y prevención
                            </label>
                    </div>
                <div class="field">
                  <label class="label">¿Cuál es el tema que prefieres exponer? (No necesita ser uno de los anteriores)
                  <textarea class="textarea" name="tema" required></textarea></label>
                </div>
                <div class="field">
                    <label class="label">Incluye un enlace de alguna charla anterior tuya (video o web del evento)
                    <input class="input" type="text" name="charla-anterior" required /></label>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-medium is-danger" type="submit">Enviar</button>
                  </div>
                </div>
              </form>
    </div>
</section>